<a href="https://colab.research.google.com/github/yogeshagre/task-5-spark-foundaion-data-science/blob/main/Python_task_1_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python task 1

In [2]:
# Mounting google drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Question 1: Car Matrix Generation

In [4]:
# Load Dataset
data = pd.read_csv("/content/dataset-1.csv")

In [12]:
import pandas as pd

def generate_car_matrix(df: pd.DataFrame) -> pd.DataFrame:
    """
    Creates a DataFrame for id combinations.

    Args:
        df (pandas.DataFrame): Input DataFrame with 'id_1', 'id_2', and 'car' columns.

    Returns:
        pandas.DataFrame: Matrix generated with 'car' values,
                          where 'id_1' and 'id_2' are used as indices and columns respectively.
    """
    # Create a pivot table with 'id_1' as index, 'id_2' as columns, and 'car' as values
    car_matrix = df.pivot(index='id_1', columns='id_2', values='car').fillna(0)

    # Fill diagonal values with 0
    for idx in car_matrix.index:
        car_matrix.at[idx, idx] = 0

    return car_matrix

# Load the dataset
df = pd.read_csv("/content/dataset-1.csv")

# Call the function with the dataset
result = generate_car_matrix(df)

# Display the result
print(result)

id_2    801    802    803    804    805    806    807    808    809    821  \
id_1
801    0.00   2.80   6.00   7.70  11.70  13.40  16.90  19.60  21.00  23.52
802    2.80   0.00   3.40   5.20   9.20  10.90  14.30  17.10  18.50  20.92
803    6.00   3.40   0.00   2.00   6.00   7.70  11.10  13.90  15.30  17.72
804    7.70   5.20   2.00   0.00   4.40   6.10   9.50  12.30  13.70  16.12
805   11.70   9.20   6.00   4.40   0.00   2.00   5.40   8.20   9.60  12.02
806   13.40  10.90   7.70   6.10   2.00   0.00   3.80   6.60   8.00  10.42
807   16.90  14.30  11.10   9.50   5.40   3.80   0.00   2.90   4.30   6.82
808   19.60  17.10  13.90  12.30   8.20   6.60   2.90   0.00   1.70   4.12
809   21.00  18.50  15.30  13.70   9.60   8.00   4.30   1.70   0.00   2.92
821   23.52  20.92  17.72  16.12  12.02  10.42   6.82   4.12   2.92   0.00
822   24.67  22.07  18.87  17.27  13.17  11.57   7.97   5.27   4.07   1.80
823   26.53  23.93  20.73  19.13  15.03  13.43   9.83   7.13   5.93   3.67
824   27.92  25.32  22.12  20.52  16.42   7.80  11.22   8.52   7.32   5.06
825   29.08  26.48  23.28  21.68  17.58  15.98  12.38   9.68   8.48   6.22
826   30.87  28.27  25.07  23.47  19.37  17.77  14.17  11.47  10.27   8.01
827   32.53  29.93  26.73  25.13  21.03  19.43  15.83  13.13  11.93   9.43
829   36.32  33.72  30.52  28.92  24.82  23.22  19.62  16.92  15.72  13.26
830   38.27  35.67  32.47  30.87  26.77  25.17  21.57  18.87  17.67  15.17
831   39.24  36.64  33.44  31.84  27.74  26.14  22.54  19.84  18.64  16.15

id_2    822    823    824    825    826    827    829    830    831
id_1
801   24.67  26.53  27.92  29.08  30.87  32.53  36.32  38.27  39.24
802   22.07  23.93  25.32  26.48  28.27  29.93  33.72  35.67  36.64
803   18.87  20.73  22.12  23.28  25.07  26.73  30.52  32.47  33.44
804   17.27  19.13  20.52  21.68  23.47  25.13  28.92  30.87  31.84
805   13.17  15.03  16.42  17.58  19.37  21.03  24.82  26.77  27.74
806   11.57  13.43  14.82  15.98  17.77  19.43  23.22  25.17  26.14
807    7.97   9.83  11.22  12.38  14.17  15.83  19.62  21.57  22.54
808    5.27   7.13   8.52   9.68  11.47  13.13  16.92  18.87  19.84
809    4.07   5.93   7.32   8.48  10.27  11.93  15.72  17.67  18.64
821    1.80   3.67   5.06   6.22   8.01   9.43  13.26  15.17  16.15
822    0.00   2.21   3.60   4.76   6.55   8.00  11.81  13.74  14.68
823    2.21   0.00   1.79   2.94   4.74   6.15  10.00  11.89  12.87
824    3.60   1.79   0.00   1.71   3.50   4.92   8.77  10.66  11.64
825    4.76   2.94   1.71   0.00   2.20   3.65   7.46   9.35  10.33
826    6.55   4.74   3.50   2.20   0.00   2.05   5.81   7.71   8.69
827    8.00   6.15   4.92   3.65   2.05   0.00   4.14   6.06   7.04
829   11.81  10.00  21.40   7.46   5.81   4.14   0.00   2.38   3.36
830   13.74  11.89  10.66   0.00   7.71   6.06   2.38   0.00   1.39
831   14.68  12.87  11.64  10.33   8.69   7.04   3.36   1.39   0.00

Question 2: Car Type Count Calculation

In [15]:
import pandas as pd

def get_type_count(df: pd.DataFrame) -> dict:
    """
    Categorizes 'car' values into types and returns a dictionary of counts.

    Args:
        df (pandas.DataFrame): Input DataFrame with 'car' column.

    Returns:
        dict: A dictionary with car types as keys and their counts as values.
    """
    # Create a new column 'car_type' based on 'car' values
    df['car_type'] = pd.cut(df['car'], bins=[-float('inf'), 15, 25, float('inf')],
                            labels=['low', 'medium', 'high'], right=False)

    # Calculate the count of occurrences for each car_type category
    type_counts = df['car_type'].value_counts().to_dict()

    # Sort the dictionary alphabetically based on keys
    type_counts = dict(sorted(type_counts.items()))

    return type_counts

# Load the dataset
df = pd.read_csv('/content/dataset-1.csv')

# Call the function with the dataset
result = get_type_count(df)

# Display the result
print(result)

{'high': 56, 'low': 196, 'medium': 89}

Question 3: Bus Count Index Retrieval

In [17]:
import pandas as pd

def get_bus_indexes(df: pd.DataFrame) -> list:
    """
    Returns the indexes where the 'bus' values are greater than twice the mean.

    Args:
        df (pandas.DataFrame): Input DataFrame with 'bus' column.

    Returns:
        list: List of indexes where 'bus' values exceed twice the mean.
    """
    # Calculate the mean of the 'bus' column
    bus_mean = df['bus'].mean()

    # Identify the indexes where 'bus' values are greater than twice the mean
    bus_indexes = df[df['bus'] > 2 * bus_mean].index.tolist()

    # Sort the indexes in ascending order
    bus_indexes.sort()

    return bus_indexes

# Load the dataset
df = pd.read_csv("/content/dataset-1.csv")

# Call the function with the dataset
result = get_bus_indexes(df)

# Display the result
print(result)

[2, 7, 12, 17, 25, 30, 54, 64, 70, 97, 144, 145, 149, 154, 160, 201, 206, 210, 215, 234, 235, 245, 250, 309, 314, 319, 322, 323, 334, 340]

Question 4: Route Filtering

In [18]:
import pandas as pd

def filter_routes(df: pd.DataFrame) -> list:
    """
    Filters and returns routes with average 'truck' values greater than 7.

    Args:
        df (pandas.DataFrame): Input DataFrame with 'route' and 'truck' columns.

    Returns:
        list: List of route names with average 'truck' values greater than 7.
    """
    # Calculate the average 'truck' values for each route
    average_truck_by_route = df.groupby('route')['truck'].mean()

    # Filter routes where the average 'truck' value is greater than 7
    selected_routes = average_truck_by_route[average_truck_by_route > 7].index.tolist()

    # Sort the list of routes in ascending order
    selected_routes.sort()

    return selected_routes

# Load the dataset
df = pd.read_csv("/content/dataset-1.csv")

# Call the function with the dataset
result = filter_routes(df)

# Display the result
print(result)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Question 5: Matrix Value Modification

In [19]:
import pandas as pd

def multiply_matrix(matrix: pd.DataFrame) -> pd.DataFrame:
    """
    Multiplies matrix values with custom conditions.

    Args:
        matrix (pandas.DataFrame): Input matrix DataFrame.

    Returns:
        pandas.DataFrame: Modified matrix with values multiplied based on custom conditions.
    """
    # Apply custom conditions to multiply matrix values
    modified_matrix = matrix.applymap(lambda x: x * 0.75 if x > 20 else x * 1.25)

    # Round values to 1 decimal place
    modified_matrix = modified_matrix.round(1)

    return modified_matrix

# Example usage with DataFrame5
matrix_data = {
    '801': [0.0, 5.5, 6.9, 15.4, 23.5, 26.8],
    '802': [5.5, 0.0, 6.9, 10.3, 18.4, 21.7],
    '803': [12.0, 6.9, 0.0, 3.9, 12.0, 15.3],
    '804': [15.4, 10.3, 3.9, 0.0, 8.8, 12.2],
    '805': [23.5, 18.4, 12.0, 8.8, 0.0, 4.0],
    '806': [26.8, 21.7, 15.3, 12.2, 4.0, 0.0],
}

# Create DataFrame5
df5 = pd.DataFrame(matrix_data, index=['801', '802', '803', '804', '805', '806'])

# Call the function with DataFrame5
result = multiply_matrix(df5)

# Display the result
print(result)

      801   802   803   804   805   806
801   0.0   6.9  15.0  19.2  17.6  20.1
802   6.9   0.0   8.6  12.9  23.0  16.3
803   8.6   8.6   0.0   4.9  15.0  19.1
804  19.2  12.9   4.9   0.0  11.0  15.2
805  17.6  23.0  15.0  11.0   0.0   5.0
806  20.1  16.3  19.1  15.2   5.0   0.0

Question 6: Time Check

In [8]:
import pandas as pd

def time_check(df):
    """
    Use shared dataset-2 to verify the completeness of the data by checking whether the timestamps for each unique (`id`, `id_2`) pair cover a full 24-hour and 7 days period

    Args:
        df (pandas.DataFrame)

    Returns:
        pd.Series: Return a boolean series
    """
    # Combine 'startDay' and 'startTime' to create a 'start_timestamp' column
    df['start_timestamp'] = pd.to_datetime(df['startDay'] + ' ' + df['startTime'])

    # Check if each (id, id_2) pair has correct timestamps
    result_series = (df.groupby(['id', 'id_2'])
                     .apply(lambda group: (
                             (group['start_timestamp'].min().hour == 0)
                             and (group['start_timestamp'].max().hour == 23)
                             and (group['start_timestamp'].nunique() == 7)
                         )
                     )
                    )

    return result_series

# Note: Uncomment and provide the path to your dataset-2.csv file
df = pd.read_csv("/content/dataset-2.csv")
#result_series = time_check(df)
#print(result_series)